USE [Unipago_Prueba]
GO
/****** Object:  User [JOSEEDUARDO-PC]    Script Date: 8/14/2016 11:30:20 PM ******/
CREATE USER [JOSEEDUARDO-PC] FOR LOGIN [JOSEEDUARDO-PC] WITH DEFAULT_SCHEMA=[JOSEEDUARDO-PC]
GO
/****** Object:  Schema [JOSEEDUARDO-PC]    Script Date: 8/14/2016 11:30:20 PM ******/
CREATE SCHEMA [JOSEEDUARDO-PC]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 8/14/2016 11:30:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERSONA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[SEXO] [char](1) NOT NULL,
	[FECHA_NACIMIENTO] [varchar](50) NOT NULL,
	[DIRECCION] [varchar](50) NOT NULL,
	[CORREO_ELECTRONICO] [varchar](50) NOT NULL,
	[TELEFONO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PERSONA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [CK_PERSONA] CHECK  (([SEXO]='M' OR [SEXO]='F'))
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [CK_PERSONA]
GO
